body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.get-balance{
  padding:1rem;
  border: solid 1px orange;
  margin-bottom:2rem;
  width:80%;
  text-align:center;
}
.get-balance-trx{
  padding:1rem;
  border: solid 1px white;
  margin-bottom:2rem;
  width:80%;
  text-align:center;
}
span {
  display:block;
  font-size:1rem;
  margin-bottom:0.5rem;
}
input{
  display:block;
  width:90%;
  margin:0 auto 1rem;
  padding:1rem;
  border-radius:5px;
  box-shadow:none;
}
.send-balance{
  padding:1rem;
  border: solid 1px green;
  margin-bottom:2rem;
  width:80%;
  text-align:center;
}
.error{
  color:#ff0000;
}
.problem{
  border:solid 2px red;
}
.balance{
  margin-bottom:1rem;
}

